// Add your custom CSS here.
.product-card, .products-carousel__item {
  padding: 0;
}
.search-engine__retail .row .col-6.col-md-4.col-lg-3, .search-engine__results .container {
  padding-left: .2rem;
  padding-right: .2rem;
}
@media(min-width: 992px) {
  .search-engine__retail .col-lg-3 {
  width: 33.33% !important;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  }
}
#product-actions .product__buy {
  margin-top: 1.5rem;
}
#modal-size-guide {
  @media(min-width: 1200px) {
    .modal-dialog {
      max-width: 1140px
    }
  }
  @media screen and (max-width: 199px) and (min-width: 992px) {
    .modal-dialog {
      max-width: 960px;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .modal-dialog {
      max-width: 720px;
    }
  }
  @media(max-width: 480px) {
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      margin: 0;
      margin-top: 4rem !important;
    }
    .modal-header {
      display: none !important;
    }
    .modal-body {
      padding: 0;
    }
    #close-mobile {
     display: flex !important;
     align-items: center;
     justify-content: flex-end;
    }
  }

  img {
    max-width: 100%;
  }
}
.product__info.lead {
  display: none;
}
.order-info__toggle {
display: none !important
}
