// Add your custom CSS here.
// personalizacao checkout
#storefront-app .valor_atacado, #storefront-app .varejo, .minicart__aside .varejo, .minicart__aside .valor_atacado {
  display: none !important;
}
.top-bar__nav {
  display: none !important;
}
.search-engine__retail {
  .prices {
    display: none;
  }
  .product-card__name {
    text-align: center;
  }
}
.atacado-price strong::after {
  content: " + FRETE GRÃTIS";
  font-weight: normal;
  font-size: 1.5rem;
}
.valor_atacado .prices__installments {
  padding-bottom: .5rem;
}
.product-card, .products-carousel__item {
  padding: 0;
}
.search-engine__retail .row .col-6.col-md-4.col-lg-3, .search-engine__results .container {
  padding-left: .2rem;
  padding-right: .2rem;
}
@media(min-width: 992px) {
  .search-engine__retail .col-lg-3 {
  width: 33.33% !important;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  }
  .embed-responsive.embed-responsive-16by9 {
    height: 500px;
  }
}
.embed-responsive.embed-responsive-16by9 {
  height: 400px;
}
#product-actions .product__buy {
  margin-top: 1.5rem;
}
#modal-size-guide, #modal-check {
  @media(min-width: 1200px) {
    .modal-dialog {
      max-width: 1140px
    }
  }
  @media screen and (max-width: 1999px) and (min-width: 992px) {
    .modal-dialog {
      max-width: 960px;
    }
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    .modal-dialog {
      max-width: 720px;
    }
  }
  @media(max-width: 480px) {
    .modal-dialog {
      max-width: 100%;
      width: 100%;
      margin: 0;
      margin-top: 4rem !important;
    }
    .modal-header {
      display: none !important;
    }
    .modal-body {
      padding: 0;
    }
    .search__box .search-engine__retail .row {
      margin-right: 0px;
      margin-left: 0px;
    }
    #close-mobile {
     display: flex !important;
     align-items: center;
     justify-content: flex-end;
    }
  }

  img {
    max-width: 100%;
  }
  .modal-body {
    text-align: center;
  }
}
.product__info.lead {
  display: none;
}
.order-info__toggle {
display: none !important
}
#checkToPay .form-check {
  text-align: right;
}
.info-additional li {
  i {
    margin-right: 14px;
    float: left;
    height: 30px;
  }
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 12px 14px;
}
.info-additional ul {
  background-color: #F5F5F5;
  border: var(--border-width) solid var(--border-color);
  padding: 0px;
}
.order-info__transaction-code:before {
  content: "Pix Copia e Cola - "
}
.order-info__transaction-code .btn.btn-sm.btn-light {
    &::after {
    content: " PIX"
  }
  & > i.fas.fa-copy.mr-1 {
  font-size: 1rem !important;
}

}
.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #000;
    font-size: 13px;
    line-height: initial;
  }

  button {
    &:hover {
      color:#fff;
      background:#000
    }
    color: #000;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 50px;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
    max-width: 80%;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}
